html {
	font-size:1.125em;
	line-height:1.222em;
	font-family: 'Geneva', CenturyGothic, Geneva, AppleGothic, sans-serif;
	
}
body {
    background-color: #eaeded;
	color: # #4a235a;
	text-align: center;
}
h1 {
    font-size: 2.25em;
    line-height:1.0864em;
    color:  #273746;
    text-align: center;
}
h2 {
	font-size:1.2em;
	line-height: 1.4em;
	text-align: center;
	margin: 1.5em;
	 color: #4a235a; 
}
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color:  #273746;
}

li {
    margin:. 0.03em;
}

.checkbox{
	margin: 0.2em;
}
.name {
	margin: 2;	
}
