html {
	font-size:1.125em;
	line-height:1.222em;
	font-family: 'Geneva', CenturyGothic, Geneva, AppleGothic, sans-serif;
	
}
body {
    background-color: white;
	color: purple;
	text-align: center;
}
h1 {
    font-size: 2.25em;
    line-height:1.0864em;
    color:  #273746;
    text-align: center;
}
h2 {
	font-size:1.2em;
	line-height: 1.3em;
	text-align: center;
	margin: 2em;
	
	
}
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color:  #273746;
}

li {
    margin:. 0.03em;
}

/*p {
  line-height: 1.32em;
  font-family: 'Hind Vadodara', sans-serif;
}*/

.name {
	margin: 2;
	
}
.contact {
}
