html {
	font-size:1.125em;
	line-height:1.222em;
	font-family: 'Didact Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;
	
}
body {
   /* background-color: #eaeded*/;
	background-color: black;
	color: # #4a235a;
	text-align: left;
}
h1 {
    font-size: 2.25em;
    line-height:1.0864em;
    /*color:  #273746;*/
	color: white ;
    text-align: center;
}
h2 {
	font-size:1.2em;
	line-height: 1.4em;
	text-align: center;
	margin: 1.3em; 
	color: #99FFFF;
}
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    /*color:  #273746;*/
	color:  white ;
}

li {
	padding: 0.05em;
	margin: 0.08em;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.checkbox{
	padding:0.03em;
	font-size: 0.9em;
	text-align: left;
	color: white;
}
.name {
	padding: 0.2em;	
}
.submit{
	border: none;
}
